<!DOCTYPE html>
<head>
  <style>
 img {
   float: left;
   margin-right: 30px;
   margin-left: 30px;
 }
 </style>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app-sheet/style.css">
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
  <title>html for shelter page</title>
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
</head>
<body class = "bod">
  <div class="wrapper">
   <div class="box e"><h1>About</h1></div>
   <div class="box f"><h2><p>Cup of Paws is a cafe where we provide extraordinary things that no other cafes provide
    in NYC. Our cafe is just a regular cafe but with puppies.</p></h2>
    </div>
     <div>
    <img src= "https://i.pinimg.com/originals/fc/d1/91/fcd19194bacadb84d03c7fcb70c60e3c.gif">
    <b><font size = "+2"><p> &nbsp; &nbsp; This cafe is directed to animal lovers and
    college students who likes to spend quality time by themselves with a puppy. We also have options for
     adoption and we are connected with our local shelters.If you would like to spend time with an animal at
    our store and decide to adopt it, 40% of the profit goes to the shelter and rest is to us. Cup of Paws
  is a place where relaxation is taken to another level and people can really enjoy spending their
  time here.</font></b><p></div>
 </body>
  </div>
