<!DOCTYPE html>
<head>
 <style>
 img {
   float: right;
   width: 600px;
   height: 600px;
 }
 a:link {
   color: black;
   background-color: transparent;
   text-decoration: none;
   font-size: 50px;
 }
 a:visited {
 color: 32a8a2;
 background-color: transparent;
 text-decoration: none;
}
 </style>
<meta charset="utf-8">
<link rel="stylesheet" href="app-sheet/style.css">
<link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
<title>html for shelter page</title>
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
</head>
<body class = "bod">
<div class="wrapper">
 <div class="box g"><h1>Breeds</h1></div>
 <div class="box h"><img src = "https://media0.giphy.com/media/oJWx7MtpR2qdi/giphy.gif">
   <ul>
     <li><a href= "https://www.akc.org/dog-breeds/akita/">Akita</a></li>
     <li><a href= "https://www.akc.org/dog-breeds/american-eskimo-dog/">American Eskimo</a></li>
     <li><a href= "https://www.akc.org/dog-breeds/barbet/">Barbet</a></li>
     <li><a href= "https://www.akc.org/dog-breeds/beagle/"> Beagle</a></li>
     <li><a href= "https://www.petfinder.com/dog-breeds/golden-retriever/">Golden Retriever</a></li>
     <li><a href= "https://dogtime.com/dog-breeds/kyi-leo#/slide/1">Kyi Leo</a></li>
     <li><a href= "https://dogtime.com/dog-breeds/peekapoo#/slide/1">Peekapoo</a></li>
     <li><a href= "https://dogtime.com/dog-breeds/pomeranian#/slide/1">Pomeranian</a></li>
     <li><a href= "https://www.petguide.com/breeds/dog/whoodle/">Whoodle</a></li>
   </ul>
