<!-- HTML -->

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>html for main page</title>
  <link rel="stylesheet" href="app-sheet/style.css">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
</head>
<body class="bod">
  <div class="wrapper">
    <div class="box a"><p class="text"><h1>Cup of Paws</h1><p>Come hanghout with puppies</div>
    <div class="box b"><button style="margin-right: 300px;">shelter</button><button style="margin-right: 300px;">about</button><button style="margin-right: 300px;">breed</button><button style = "margin-right: 300px">reservation</button></div>
</div>
</body>
