<!-- HTML -->

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app-sheet/style.css">
  <title>html for main page</title>
  <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
</head>
<body class = "bod">
  <div class="wrapper">
   <div class="box a"><h1>Cup of Paws</h1><h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Coffee with a puppy</h2><div><img class="banner-img" src = "https://www.trzcacak.rs/myfile/detail/184-1842840_dalmation-puppy-cliparts-101-dalmatians-clip-art.png" alt = "happy puppy"></div>
    <div class="box b"><button><a href="/shelter">shelter</a></button> <button><a href="/about">about</a></button> <button><a href="/breed">breed</a></button><button><a href= "/reservation">reservation</a></button></div>
</div>
</body>
